root = true

# Commmon source settings
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[{dist,node_modules}/*]
end_of_line = none
insert_final_newline = none
trim_trailing_whitespace = none

# JavaScript & JSON settings
[*.{js,json}]
indent_size = 2
indent_style = space

# Pug settings
[*.pug]
indent_size = 2
indent_style = space

# Stylus settings
[*.styl]
indent_size = 2
indent_style = space
